html {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

body {
    background-color: #29293b;
    color: #f96b6b;
}

#main-box {
    margin: 0px 40px;
}


/* Navigation */

header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

header>nav>ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

header>nav>ul>li>a{
    color:#f96b6b;
    font-size: x-large;
}

/* Logo */

#logo{
    max-width: 10%;
    height: auto;
}

/* main Title */
h1{
    text-align: center;
}

/* Hero section */
main{
  height: 100vh;
  width: 100%;

  background-image: url("images/Me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-left: 2rem;
}
main>h2{
    color: #fa5d5d;
}

main>p{
    max-width: 40%;
    color: #fa5d5d;
}



#image1{
    max-width: 50%;
    height: auto;
}
#image2{
    max-width: 50%;
    height: auto;
}

#image3{
    max-width: 50%;
    height: auto;
}

#barbershop1{
    max-width: 50%;
    height: auto;
    margin-bottom: 40px;
}

#barbershop2{
    max-width: 50%;
    height: auto;
}

a:visited {
    color: #f96b6b;
}

a {
    text-decoration: none;
}